<!doctype html>
<html>
<head>
  <% include partials/head %>
</head>
<body class="nav-md" ng-app="todoApp">
<div class="container body">
  <div class="main_container">


  <% include partials/sidebar %>

  <% include partials/topmenu %>


    <div class="right_col" role="main">


      <div class="row top_tiles">
          <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats">
              <div class="icon"><i class="fa fa-dollar"></i>
              </div>
              <div class="count">USD - MXN</div>
              <br>
              <h3 id="usdmxn">1 X </h3>
            </div>
          </div>
          <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats">
              <div class="icon"><i class="fa fa-gbp"></i>
              </div>
              <div class="count">USD - GBP</div>

              <br>
              <h3 id="usdbrl">1 X </h3>
            </div>
          </div>
          <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats">
              <div class="icon"><i class="fa fa-eur"></i>
              </div>
              <div class="count">USD - EURO</div>
              <br>
              <h3 id="usdeur">1 X </h3>
            </div>
          </div>
          <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats">
              <div class="icon"><i class="fa fa-jpy"></i>
              </div>
              <div class="count">USD - JPY</div>
              <br>
              <h3 id="usdjpy">1 X </h3>
            </div>
          </div>
        </div>

        <div class="page-header text-center">
            <h1><span class="fa fa-home"></span> Welcome! </h1>
        </div>

          <div class="row">
              <div class="col-sm-12">
                  <div class="well">
                      <h3><span class="fa fa-cubes"></span> Your projects</h3>
                      <div ng-controller="TodoListController as todoList">
                          <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
                           <a href="" ng-click="todoList.archive()">projects</a>
                          <ul class="unstyled">
                              <li ng-repeat="todo in todoList.todos">
                                  <label class="checkbox">
                                      <input type="checkbox" ng-model="todo.done">
                                      <span class="done-{{todo.done}}">{{todo.text}}</span>
                                  </label>
                              </li>
                          </ul>
                          <form ng-submit="todoList.addTodo()" class="form-group">
                              <input type="text" ng-model="todoList.todoText"  size="30"
                                     placeholder="add a new project here" class="form-control">
                              <br>
                              <input class="btn btn-primary btn-lg btn-block " type="submit" value="add project">
                          </form>
                      </div>
                  </div>
              </div>
          </div>

        </div>
    </div>
</div>

  <% include partials/js.ejs %>
  <script src="js/exchange-rates.js"></script>

  <!--
          <script>
          $(document).ready(function(){
                $.getJSON("https://api.coinbase.com/v2/exchange-rates",function(result){
                $("#usdmxn").append(result.data.rates['MXN'] + " ");
                $("#usdbrl").append(result.data.rates['GBP'] + " ");
                $("#usdeur").append(result.data.rates['EUR'] + " ");
                $("#usdjpy").append(result.data.rates['JPY'] + " ");
                /*
                $.each(result.data.rates['MXN'], function(i, field){
                  //$("#usdmxn").append(JSON.stringify(field) + " ");
                });
                */
              });
          });
        </script>-->
    </body>
</html>
