<!doctype html>
<html>
<head>
    <title>Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets">
</head>
<body>
<div class="container">
    <div class="jumbotron ">
        <h1><span class="fa fa-money"></span> Project EvaluationTool</h1>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-log-in"></span> Log In</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-log-out"></span> Sign Up</a>
    </div>

</div>
</body>
</html>
