<!doctype html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <div class="container">
      <div class="jumbotron ">
          <h1><span class="fa fa-money fa-3x"></span>&nbsp;&nbsp;&nbsp;Project EvaluationTool </h1>
          <p>Welcome!, to start evaluating your projects start here</p>
          <div class="row">
            <div class="col-md-6">
              <a href="/login" class="btn btn-default"><span class="fa fa-log-in"></span> Log in</a>
              <a href="/signup" class="btn btn-info"><span class="fa fa-log-out"></span> Register</a>
            </div>
            <div class="col-md-6 text-right">
              <img src="images/LogoITESM.png" alt="" width="50%" height="">
            </div>
          </div>
      </div>

  </div>
</body>
</html>
