<!doctype html>
<html>
<head>
  <% include partials/head %>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">


  <% include partials/sidebar %>

  <% include partials/topmenu %>


    <div class="right_col" role="main">


      <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-dollar"></i>
            </div>
            <div class="count">USD - MXN</div>
            <br>
            <h3 id="usdmxn"></h3>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-dollar"></i>
            </div>
            <div class="count">USD - BRL</div>

            <br>
            <h3 id="usdbrl"></h3>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-dollar"></i>
            </div>
            <div class="count">USD - EURO</div>
            <br>
            <h3 id="usdeur"></h3>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-dollar"></i>
            </div>
            <div class="count">USD - JPY</div>
            <br>
            <h3 id="usdjpy"></h3>
          </div>
        </div>
      </div>



        <div class="page-header text-center">
            <h1><span class="fa fa-user"></span> Profile </h1>
        </div>


          <div class="row">
              <div class="col-sm-6">
                  <div class="well">
                      <h3><span class="fa fa-server"></span> Personal info</h3>
                          <p>
                              <strong>Name</strong>: <%= user.local.name %><br>
                          </p>
                          <p>
                              <strong>Email</strong>: <%= user.local.email %><br>
                          </p>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="well">
                      <h3><span class="fa fa-cubes"></span> Your projects</h3>
                          <p>
                              <strong>Name</strong>: <%= user.local.projects %><br>
                          </p>
                  </div>
              </div>
        </div>
    </div>
  </div>
</div>

  <% include partials/js.ejs %>

  <script src="js/exchange-rates.js"></script>
</body>
</html>
