<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">


  <% include ../partials/sidebar %>

  <% include ../partials/topmenu %>


    <div class="right_col" role="main">

        <div class="page-header text-center">
          <br><br>
          <h1><span class="fa fa-edit"></span> CheckList </h1>
        </div>

          <div class="row">
              <div class="col-sm-12">
                  <div class="well">

                  </div>
              </div>
        </div>
    </div>
  </div>
</div>

  <% include ../partials/js.ejs %>
  <script type="text/javascript" src="js/checklist.js"></script>
</body>
</html>
