<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">


  <% include ../partials/sidebar %>

  <% include ../partials/topmenu %>


    <div class="right_col" role="main">

        <div class="page-header text-center">
          <br><br>
          <h1><span class="fa fa-edit"></span> CheckList </h1>
        </div>

          <div class="row">
              <div class="col-sm-12">
                  <div class="well">
                        <!-- codigo Isaac -->

                      <div class="col-sm-12">
                          <label for="usr">What specific organization strategy does this project align with?</label>
                          <div class="form-group">
                              <p></p>
                              <div class="col-sm-4">
                                  <input type="text" id="txtRespuesta1">
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">How will measure success?</label>
                          <div class="form-group">
                              <p></p>
                              <div class="col-sm-4">
                                  <input type="text" id="txtRespuesta2">
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">Who is the main project sponsor?</label>
                          <div class="form-group">
                              <p></p>
                              <div class="col-sm-4">
                                  <input type="text" id="txtRespuesta3">
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">What is the impact of not doing this project?</label>
                          <div class="form-group">
                              <p></p>
                              <div class="col-sm-4">
                                  <select class="form-control" id="sel1">
                                      <option>Low</option>
                                      <option>Medium</option>
                                      <option>High</option>
                                  </select>
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">What is the project risk to our organization?</label>
                          <div class="form-group">
                              <select class="form-control" id="sel2">
                                  <option>Low</option>
                                  <option>Medium</option>
                                  <option>High</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">Does the proposed project fit in our risk profile?</label>
                          <div class="form-group">
                              <p></p>
                              <select class="form-control" id="sel3">
                                  <option>No</option>
                                  <option>Yes</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">What is the value of the project organization?</label>
                          <div class="form-group">
                              <p></p>
                              <select class="form-control" id="sel4">
                                  <option>Low</option>
                                  <option>Medium</option>
                                  <option>High</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">When will the project shows result?</label>
                          <div class="form-group">
                              <p></p>
                              <div class="col-sm-4">
                                  <input type="text" id="txtRespuesta4">
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">What are the project objectives?</label>
                          <div class="form-group">
                              <p></p>
                              <div class="col-sm-4">
                                  <input type="text" id="txtRespuesta5">
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">Is our organization culture right for this type of project?</label>
                          <div class="form-group">
                              <p></p>
                              <select class="form-control" id="sel5">
                                  <option>No</option>
                                  <option>Yes</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">Will internal resources be available for this project?</label>
                          <div class="form-group">
                              <p></p>
                              <select class="form-control" id="sel6">
                                  <option>No</option>
                                  <option>Yes</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">Will we have to build or buy?</label>
                          <div class="form-group">
                              <p></p>
                              <select class="form-control" id="sel7">
                                  <option>Buy</option>
                                  <option>Rent</option>
                                  <option>Build</option>
                                  <option>Nothing</option>
                              </select>
                          </div>
                      </div>


                      <div class="col-sm-12">
                          <label for="usr">How long will this project take? (Years)</label>
                          <div class="form-group">
                              <p></p>
                              <div class="col-sm-4">
                                  <input type="number" id="txtRespuesta6" value= 0>
                              </div>
                          </div>
                      </div>


                      <div class="col-sm-12">
                          <label for="usr">Is the timeline realistic?</label>
                          <div class="form-group">
                              <p></p>
                              <select class="form-control" id="sel8">
                                  <option>No</option>
                                  <option>Yes</option>
                              </select>
                          </div>
                      </div>


                      <div class="col-sm-12">
                          <label for="usr">Will staff training be required?</label>
                          <div class="form-group">
                              <p></p>
                              <select class="form-control" id="sel9">
                                  <option>No</option>
                                  <option>Yes</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">What is the estimated cost of the project?</label>
                          <div class="form-group">
                              <p></p>
                              <div class="col-sm-4">
                                  <input type="number" id="txtRespuesta7" value= 0>
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">Is this a new initiative or path of an existing initiative?</label>
                          <div class="form-group">
                              <p></p>
                              <select class="form-control" id="sel10">
                                  <option>New Initiative</option>
                                  <option>A path</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">How does this project interact with current projects?</label>
                          <div class="form-group">
                              <p></p>
                              <select class="form-control" id="sel11">
                                  <option>Overlaps with other projects</option>
                                  <option>They are mutually exclusive</option>
                                  <option>They have perfect sinergy</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <label for="usr">Is the technology available or new?</label>
                          <div class="form-group">
                              <p></p>
                              <select class="form-control" id="sel12">
                                  <option>It´s available</option>
                                  <option>It´s a new technology</option>
                              </select>
                          </div>
                      </div>

                  </div>
              </div>

              <div class="col-sm-4">
                  <button onclick="checkListFunction()">Calcular</button>
              </div>
              <p></p>

              <div class="panel panel-default">
                  <div class="panel-body">
                      <label for="usr">Decision: </label>
                      <input type="text" id="txtResultCheckList" disabled="disabled" value = "Not accepted">
                  </div>
              </div>
                      <!-- fin codigo isaac -->
                  </div>
              </div>
        </div>
    </div>
  </div>
</div>

  <% include ../partials/js.ejs %>
  <script type="text/javascript" src="js/checklist.js"></script>
</body>
</html>
