<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">


  <% include ../partials/sidebar %>

  <% include ../partials/topmenu %>


    <div class="right_col" role="main">

        <div class="page-header text-center">
          <br><br>
          <h1><span class="fa fa-edit"></span> CheckList </h1>
        </div>

          <div class="row">
              <div class="col-sm-12">
                  <div class="well">
                        <!-- codigo Isaac -->
                      <form action="">
                          <div class="form-group">
                              <label for="usr" id="txtPregunta1">What specific organization strategy does this project align with?</label>
                              <input type="text" id="txtRespuesta1" class="form-control">
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta2">How will measure success?</label>
                              <input type="text" id="txtRespuesta2" class="form-control">
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta3">Who is the main project sponsor?</label>
                              <input type="text" id="txtRespuesta3" class="form-control">
                          </div>

                          <div class="form-group">
                                  <label for="usr" id="txtPregunta4">What is the impact of not doing this project?</label>
                                  <select class="form-control" id="txtRespuesta4">
                                      <option>Low</option>
                                      <option>Medium</option>
                                      <option>High</option>
                                  </select>
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta5">What is the project risk to our organization?</label>
                                  <select class="form-control" id="txtRespuesta5">
                                      <option>Low</option>
                                      <option>Medium</option>
                                      <option>High</option>
                                  </select>
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta6">Does the proposed project fit in our risk profile?</label>
                              <div class="form-group">
                                  <p></p>
                                  <select class="form-control" id="txtRespuesta6">
                                      <option>No</option>
                                      <option>Yes</option>
                                  </select>
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta7">What is the value of the project organization?</label>
                                  <select class="form-control" id="txtRespuesta7">
                                      <option>Low</option>
                                      <option>Medium</option>
                                      <option>High</option>
                                  </select>
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta8">When will the project shows result?</label>
                              <input type="text" id="txtRespuesta8" class="form-control">
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta9">What are the project objectives?</label>
                              <input type="text" id="txtRespuesta9" class="form-control">
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta10">Is our organization culture right for this type of project?</label>
                              <select class="form-control" id="txtRespuesta10">
                                  <option>No</option>
                                  <option>Yes</option>
                              </select>
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta11">Will internal resources be available for this project?</label>
                              <select class="form-control" id="txtRespuesta11">
                                  <option>No</option>
                                  <option>Yes</option>
                              </select>
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta12">Will we have to build or buy?</label>
                                  <select class="form-control" id="txtRespuesta12">
                                      <option>Buy</option>
                                      <option>Rent</option>
                                      <option>Build</option>
                                      <option>Nothing</option>
                                  </select>
                          </div>


                          <div class="form-group">
                              <label for="usr" id="txtPregunta13">How long will this project take? (Years)</label>
                              <input type="number" id="txtRespuesta13" placeholder="Number of Years" class="form-control">
                          </div>


                          <div class="form-group">
                              <label for="usr" id="txtPregunta14">Is the timeline realistic?</label>
                              <select class="form-control" id="txtRespuesta14">
                                  <option>No</option>
                                  <option>Yes</option>
                              </select>
                          </div>


                          <div class="form-group">
                              <label for="usr" id="txtPregunta15">Will staff training be required?</label>
                              <select class="form-control" id="txtRespuesta15">
                                  <option>No</option>
                                  <option>Yes</option>
                              </select>
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta16">What is the estimated cost of the project?</label>
                              <input type="number" id="txtRespuesta16" placeholder="Estimated cost" class="form-control">
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta17">Is this a new initiative or path of an existing initiative?</label>
                                  <select class="form-control" id="txtRespuesta17">
                                      <option>New Initiative</option>
                                      <option>A path</option>
                                  </select>
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta18">How does this project interact with current projects?</label>
                              <select class="form-control" id="txtRespuesta18">
                                  <option>Overlaps with other projects</option>
                                  <option>They are mutually exclusive</option>
                                  <option>They have perfect sinergy</option>
                              </select>
                          </div>

                          <div class="form-group">
                              <label for="usr" id="txtPregunta19">Is the technology available or new?</label>
                              <div class="form-group">
                                  <p></p>
                                  <select class="form-control" id="txtRespuesta19">
                                      <option>It´s available</option>
                                      <option>It´s a new technology</option>
                                  </select>
                              </div>
                          </div>
                      <div>
                          <a href="#" class="btn btn-lg btn-info btn-block" onclick="checkListFunction()"><span class="fa fa-calculator"></span>Calculate</a>
                          <a href="#" class="btn btn-lg btn-info btn-block" onclick="printpdf()"><span class="fa fa-print"></span>Print</a>
                      </div><br>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <label for="usr">Decision: </label>
                              <div class=""></div>
                              <span id="txtResultCheckList" disabled="disabled"></span>
                          </div>
                      </div>
                    </form>
                      <!-- fin codigo isaac -->
                  </div>
              </div>
        </div>
    </div>
  </div>
</div>

  <% include ../partials/js.ejs %>
  <script type="text/javascript" src="js/checklist.js"></script>
</body>
</html>
