<!doctype html>
<html>
<head>
  <% include ../partials/head %>
  <script src="js/payback.js"></script>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">


  <% include ../partials/sidebar %>

  <% include ../partials/topmenu %>


    <div class="right_col" role="main">

        <div class="page-header text-center">
          <br><br>
          <h1><span class="fa fa-edit"></span> Payback Period </h1>
        </div>

          <div class="row">
              <div class="col-sm-12">
                  <div class="well">

<!-- Diseño fernando -->
                    <div class="row">
                      <div class="col-md-6">
                        <label for="numberoflabels">Number of periods</label>
                      </div>
                        <div class="col-md-6">
                          <select class="form-control" id="droplistbox">
                            <option value="1">Hola</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>
                            <option value="5">Five</option>
                            <option value="6">Six</option>
                            <option value="7">Seven</option>
                            <option value="8">Eight</option>
                            <option value="9">Nine</option>
                            <option value="10">Ten</option>
                        </select>
                        </div>
                      </div>
                      <br>
                        <div>
                          <div class="form-group">
                            <label for="principallabel">Principal</label>
                            <input type="number" class="form-control" id="principal" placeholder="Principal">
                          </div>

                          <div class="form-group">
                            <label for="tasaintereslabel">Interest rate (%)</label>
                            <input type="number" class="form-control" id="tasainteres" placeholder="Interest rate %">
                          </div>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" id="cajita"> Start with period 0</input>
                            </label>
                          </div>
                          <br>
                          <button type="button" class="btn btn-default btn-block" onclick="mostrar()" >Load Table</button>
                          <button type="button" class="btn btn-info btn-block" onclick="calcular()" >Make Calculations</button>
                        </form>
                        </div>
                        <br><br>
                        <form class="form-inline" id="contenedor">
                        </form>
<!-- --->

                  </div>
              </div>
        </div>
    </div>
  </div>
</div>

  <% include ../partials/js.ejs %>

</body>
</html>
