<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">


  <% include ../partials/sidebar %>

  <% include ../partials/topmenu %>


    <div class="right_col" role="main">

        <div class="page-header text-center">
          <br><br>
          <h1><span class="fa fa-edit"></span> Project Screening Matrix </h1>
        </div>

          <div class="row">
              <div class="col-sm-12">
                  <div class="well">
                      <!-- <h3><span class="fa fa-cubes"></span> my projects </h3> -->
                          <p>
                              <strong>Name</strong>: <%= user.local.projects %><br>
                          </p>
                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Time constraints for project delivery</div>
                            <select name="Rating" class="col-md-2" id="rating">
                              <option value="Low">Low</option>
                              <option value="Medium">Medium</option>
                              <option value="High">High</option>
                            </select>
                            <input type="number" class="col-md-2" id="wheight">
                            <input type="number" class="col-md-2" id="value">
                            <div class="col-md-1">.col-md-1</div>
                          </div>
                          <div class="row">
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-4">Status of environmental approvals</div>
                            <select name="Rating" class="col-md-2" id="rating">
                              <option value="Low">Low</option>
                              <option value="Medium">Medium</option>
                              <option value="High">High</option>
                            </select>
                            <input type="number" class="col-md-2" id="wheight">
                            <input type="number" class="col-md-2" id="value">
                            <div class="col-md-1">.col-md-1</div>
                          </div>
                          <div class="row">
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-4">Availability of funding</div>
                            <select name="Rating" class="col-md-2" id="rating">
                              <option value="Low">Low</option>
                              <option value="Medium">Medium</option>
                              <option value="High">High</option>
                            </select>
                            <input type="number" class="col-md-2" id="wheight">
                            <input type="number" class="col-md-2" id="value">
                            <div class="col-md-1">.col-md-1</div>
                          </div>
                          <div class="row">
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-4">Well defined scope</div>
                            <select name="Rating" class="col-md-2" id="rating">
                              <option value="Low">Low</option>
                              <option value="Medium">Medium</option>
                              <option value="High">High</option>
                            </select>
                            <input type="number" class="col-md-2" id="wheight">
                            <input type="number" class="col-md-2" id="value">
                            <div class="col-md-1">.col-md-1</div>
                          </div>
                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2"></div>
                            <input type="number" class="col-md-2" id="Twheight">
                            <input type="number" class="col-md-2" id="Tvalue">
                            <div class="col-md-1"></div>
                          </div>
                  </div>
              </div>
        </div>
    </div>
  </div>
</div>

  <% include ../partials/js.ejs %>
</body>
</html>
