<!doctype html>
<html>
<head>
  <% include ../partials/head %>
  <script src="js/project.js"></script>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">


  <% include ../partials/sidebar %>

  <% include ../partials/topmenu %>


    <div class="right_col" role="main">

        <div class="page-header text-center">
          <br><br>
          <h1><span class="fa fa-edit"></span> Project Screening Matrix </h1>
        </div>

          <div class="row">
              <div class="col-sm-12">
                  <div class="well">
                      <!-- <h3><span class="fa fa-cubes"></span> my projects </h3> -->
                          <p>
                              <strong>Name</strong>: <%= user.local.projects %><br>
                          </p>
                          <form>
                          <div> <h1> Primary Considerations</h1></div>
                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Consideration</div>
                            <div class="col-md-2" >Rating</div>
                            <div class="col-md-2" >Weighting</div>
                            <div class="col-md-2" >Value</div>
                            <div class="col-md-1"></div>
                          </div>
                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Time constraints for project delivery</div>
                            <select name="Rating" class="col-md-2" id="pRating1">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="First name" class="col-md-2" id="pWheight1">
                            <div class="col-md-2" id="pValue1"></div>
                            <div class="col-md-1"></div>
                          </div>
                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Status of environmental approvals</div>
                            <select name="Rating" class="col-md-2" id="pRating2">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="pWheight2">
                            <div class="col-md-2" id="pValue2"></div>
                            <div class="col-md-1"></div>
                          </div>
                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Availability of funding</div>
                            <select name="Rating" class="col-md-2" id="pRating3">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="pWheight3">
                            <div class="col-md-2" id="pValue3"></div>
                            <div class="col-md-1"></div>
                          </div>
                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Well defined scope</div>
                            <select name="Rating" class="col-md-2" id="pRating4">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="pWheight4">
                            <div class="col-md-2" id="pValue4"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2" id="tpWheight1"></div>
                            <div class="col-md-2" id="tpValue1"></div>
                            <div class="col-md-1"></div>
                          </div>

                          <div> <h1> Secondary Considerations</h1></div>

                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Consideration</div>
                            <div class="col-md-2" >Rating</div>
                            <div class="col-md-2" >Weighting</div>
                            <div class="col-md-2" >Value</div>
                            <div class="col-md-1"></div>
                          </div>
                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Overall project complexity</div>
                            <select name="Rating" class="col-md-2" id="sRating1">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="sWheight1">
                            <div class="col-md-2" id="sValue1"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Complexity of performance requirements</div>
                            <select name="Rating" class="col-md-2" id="sRating2">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="sWheight2">
                            <div class="col-md-2" id="sValue2"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Project size</div>
                            <select name="Rating" class="col-md-2" id="sRating3">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="sWheight3">
                            <div class="col-md-2" id="sValue3"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Availability of qualified teams</div>
                            <select name="Rating" class="col-md-2" id="sRating4">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="sWheight4">
                            <div class="col-md-2" id="sValue4"></div>
                            <div class="col-md-1"></div>
                          </div>

                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Owner experience and resources </div>
                            <select name="Rating" class="col-md-2" id="sRating5">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="sWheight5">
                            <div class="col-md-2" id="sValue5"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Cost of project</div>
                            <select name="Rating" class="col-md-2" id="sRating6">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="sWheight6">
                            <div class="col-md-2" id="sValue6"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Degree of team collaboration</div>
                            <select name="Rating" class="col-md-2" id="sRating7">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="sWheight7">
                            <div class="col-md-2" id="sValue7"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Number of contracts</div>
                            <select name="Rating" class="col-md-2" id="sRating8">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="sWheight8">
                            <div class="col-md-2" id="sValue8"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Allocation of risks</div>
                            <select name="Rating" class="col-md-2" id="sRating9">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="sWheight9">
                            <div class="col-md-2" id="sValue9"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Interest in innovation</div>
                            <select name="Rating" class="col-md-2" id="sRating10">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="sWheight10">
                            <div class="col-md-2" id="sValue10"></div>
                            <div class="col-md-1"></div>
                          </div>

                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2" id="Tswheight"></div>
                            <div class="col-md-2" id="tsValue2"></div>
                            <div class="col-md-1"></div>
                          </div>

                          <div> <h1>Other Considerations</h1></div>
                          
                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Consideration</div>
                            <div class="col-md-2" >Rating</div>
                            <div class="col-md-2" >Weighting</div>
                            <div class="col-md-2" >Value</div>
                            <div class="col-md-1"></div>
                          </div>
                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Data Security</div>
                            <select name="Rating" class="col-md-2" id="tRating1">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="tWheight1">
                            <div class="col-md-2" id="tValue1"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Operational constraints</div>
                            <select name="Rating" class="col-md-2" id="tRating2">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="tWheight2">
                            <div class="col-md-2" id="tValue2"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Utility relocations</div>
                            <select name="Rating" class="col-md-2" id="tRating3">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="tWheight3">
                            <div class="col-md-2" id="tValue3"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">QC/QA responsibilities</div>
                            <select name="Rating" class="col-md-2" id="tRating4">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="tWheight4">
                            <div class="col-md-2" id="tValue4"></div>
                            <div class="col-md-1"></div>
                          </div>

                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Performance guarantees/warranties </div>
                            <select name="Rating" class="col-md-2" id="tRating5">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="tWheight5">
                            <div class="col-md-2" id="tValue5"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Design reviews/approvals</div>
                            <select name="Rating" class="col-md-2" id="tRating6">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="tWheight6">
                            <div class="col-md-2" id="tValue6"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Legal frame or requirements </div>
                            <select name="Rating" class="col-md-2" id="tRating7">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="tWheight7">
                            <div class="col-md-2" id="tValue7"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">Ownership of intellectual property</div>
                            <select name="Rating" class="col-md-2" id="tRating8">
                              <option value="1">Low</option>
                              <option value="3">Medium</option>
                              <option value="5">High</option>
                            </select>
                            <input type="number" placeholder="Weight of the consideration" class="col-md-2" id="tWheight8">
                            <div class="col-md-2" id="tValue8"></div>
                            <div class="col-md-1"></div>
                          </div>

                          <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2" id="ttValue3"></div>
                            <div class="col-md-2" id="Ttwheight"></div>
                            <div class="col-md-1"></div>
                          </div>


                          <button type="button" class="btn btn-info btn-block" onclick="showWeight()" >Make Calculations</button>
                        </form>
                  </div>
              </div>
        </div>
    </div>
  </div>
</div>

  <% include ../partials/js.ejs %>
</body>
</html>
